<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cv.css">
    <script src="/static/cv.js"></script>
    <title>Or Braf's Website</title>
</head>
<body>
    <h1>
        Or Braf's Website
    </h1> 
    <div id="GridContainer"> 
        <div id="ContactMe">
            <form action="" method="post">
                <h2 class = "header"> Contact me: </h2> <br>
                <label for="Name"> Full name: </label>
                <input type="text" placeholder="הזן את שמך המלא" name="Name" id="Name"> <br> <br>
                <label for="ContactEmail"> Email: </label>
                <input type="email" placeholder="הזן כתובת דואר אלקטרוני" name="ContactEmail" id="ContactEmail" required><br> <br>
                <label for=""> Message: </label> <br> <br>
                <textarea placeholder="כתוב בתיבה זו את ההודעה" name="" id="" cols="30" rows="10"></textarea> <br> <br>
                <input type="Submit" name="SubmittionButton"> <br> <br>  
            </form>
        </div>
        <div id="FACEBOOK" >  
            <a href="https://www.facebook.com/or.braf">
                <img src="/static/facebook-logo.jpg" style="width:130px; height:90px; border:3px solid black">
            </a>
        </div>
        <div id="CV">  
            <a href="/static/myCV.pdf"> <img src="/static/CVdraw.jpg" style="width:130px; height:90px; border:3px solid black"> </a>
        </div>
    </div>  

</body>
</html>